<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Exclusão da conta - union</title>

	<style type="text/css">
		body {
			font-family: "Helvetica", sans-serif;
			color: #191414;
		}

		p {
			font-size: 18px;
		}

		.green-text {
			color: #1db954;
		}

		.gray-text {
			color: #d9d9d9;
		}

		.text-center {
			text-align: center;
		}

		.weight-700 {
			font-weight: 700;
		}

		.card {
			margin-left: auto;
			margin-right: auto;
		}

		.card-body {
			background-color: #eff3ff;
			margin-left: auto;
			margin-right: auto;
			border-radius: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			padding: 16px;
			text-align: center;
		}

		.card-section {
			padding: 0.3em 1em;
			width: 80%;
			text-align: left;
			margin-left: auto;
			margin-right: auto;
		}

		.p-header {
			font-weight: 700;
			font-size: 18px;
		}

		.p-small {
			font-size: 15px;
		}

		.fs-30 {
			font-size: 30px;
		}

		.fs-40 {
			font-size: 40px;
		}

		.mt-5 {
			margin-top: 5%;
		}
	</style>
</head>

<body>
	<header class="header">
		<div>
			<h1 class="green-text text-center fs-40">union</h1>
		</div>
	</header>
	<section>
		<div class="card-section">
			<div class="header-detail">
				<p class="p-header">Olá, <span th:text="${username}"></span>! Tudo bem?</p>
			</div>
			<p>Identificamos que um novo condomínio chamado <b><span th:text="${condominiumName}"></span></b> foi
				cadastrado em sua conta!</p>

			<p>Esse e-mail é apenas para lhe informar a ação realizada e te lembrar que pode adicionar vários moradores,
				publicar notícias e taxas a serem pagas pelos integrantes do condomínio.</p>

			<p>Ah! E lembre-se que há um modelo de CSV a ser seguido para adicionar moradores. Ele segue em anexo neste
				e-mail para você, e você pode abri-lo como uma planilha e após preencher basta exportar como um arquivo
				<i>.csv</i></p>

			<p>Obrigado! &#128154;</p>

			<div class="mt-5">
				<p class="p-small">
					Caso esteja tendo algum problema, pode nos contatar em:
				</p>
			</div>
			<a class="p-small weight-700" href="mailto: unionapp.suporte@gmail.com">unionapp.suporte@gmail.com</a>
			<p class="p-small mt-5">&copy; <span th:text="${currentYear}"></span> Union.</p>
		</div>
	</section>
</body>

</html>